<div class = "row text-center">
  <div class="col-md-12">
    <h2>About Us</h2>

    <div class="jumbotron">
      <p>MyDoc allows you to to browse and review doctors for free!
       Sign up for a free account to upvote doctors, or pay a low monthly fee to
       message doctors on a private forum!</p>
    </div>
  </div>
</div>
