<div class = "row text-center">
  <div class="col-md-6 col-md-offset-3">
    <h2><mark>About Us</mark></h2>

    <div class="well">
      <p>MyDoc allows you to to browse and review doctors effortlessly!
       Sign up for a free account to view reviews, or pay a low monthly fee to
       schedule appointments directly.</p>
    </div>
  </div>
</div>
