<div class="jumbotron text-center">
  <h1>MyDoc</h1>
  <h3>MyDoc allows you to to browse and review doctors effortlessly! Sign up for
     a free account to view reviews, or pay a low monthly fee to schedule appointments
      directly.</h3>
</div>
