/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#logo, a {
  font-family: 'Cinzel', serif;
}

#landing-page-mydoc {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  opacity: 0.85;
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.right-side-nav li {
  margin-right: 5px;
}

.notice {
  color: blue;
}

.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

body {
  background: url('https://images.unsplash.com/photo-1429032021766-c6a53949594f?dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1450') no-repeat fixed center;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(238, 238, 238, 0.39)
}

.well {
  background-color: rgba(238, 238, 238, 0.50)
}

.paid-account {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
